[submodule "backend-express"]
	path = backend-express
	url = https://github.com/Study-JavaScript/backend-express.git
[submodule "domain"]
	path = domain
	url = https://github.com/Study-JavaScript/domain.git
[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/Study-JavaScript/infrastructure.git
[submodule "application"]
	path = application
	url = https://github.com/Study-JavaScript/application.git
[submodule "md"]
	path = md
	url = https://github.com/Study-JavaScript/md.git
